@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #003135;
}
::-webkit-scrollbar-thumb {
  background: #0FA4AF;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #AFDDE5;
}